{% extends 'base.html' %}

{% block content %}

<!-- Main container section for index page -->
<div class="index-container">
    <!-- Homepage title and subtitle introducing website -->
    <h1>Cuisine Compass</h1>
    <p>Your gateway to discovering the best restaurants and hidden culinary gems!</p>

    <!-- Button container for sign up and register page links -->
    <div class="button-container">
        <a href="{{ url_for('app.login') }}" class="hover-box">Log In</a>
        <a href="{{ url_for('app.register') }}" class="hover-box">Sign Up</a>
    </div>
</div>
{% endblock %}