{% extends 'base.html' %}

{% block content %}

<!-- Main container for the profile page -->
<div class="container">

    <!-- Profile header with user's username and subtitle text message -->
    <div class="profile-header text-center">
        <h1 class="profile-title">{{ user.username }}'s Profile</h1>
        <p class="profile-subtitle">View all {{ user.username }}'s reviews below.</p>
    </div>

    <!-- Check if the user has created any reviews -->
    {% if reviews|length == 0 %}
        <!-- Show message when there are no reviews on user's profile -->
        <div class="text-center">
            <div class="empty-state">
                <h2>No Reviews by {{ user.username }} Yet!</h2>
            </div>
        </div>
    {% else %}

        <!-- Grid for displaying reviews on user's profile -->
        <div class="grid">
            {% for review in reviews %}

            <!-- Separate review card layout -->
            <div class="review-card" data-id="{{ review.id }}">
                <h3>{{ review.name }}</h3>
                <p><strong>Meal type:</strong> {{ review.meal }}</p>
                <p><strong>Cuisine:</strong> {{ review.cuisine }}</p>
                {% if review.comment %}
                <p><strong>Comment:</strong> {{ review.comment }}</p>
                {% endif %}
                <p><strong>Rating:</strong> {{ review.rating }}/5</p>

                <!-- Button group for website link, edit, delete, and favorite buttons -->
                <div class="button-class">
                    {% if review.website_link %}
                    <!-- Link to the restaurant's website -->
                    <a href="{{ review.website_link }}" target="_blank" class="btn btn-primary">Visit Website</a>
                    {% endif %}
                    
                    <!-- Edit  and delete buttons available only for the author of the review -->
                    {% if review.user_id == current_user.id %}
                        <a href="{{ url_for('app.edit_review', review_id=review.id) }}" class="btn btn-secondary">Edit</a>
                        <form action="{{ url_for('app.delete_review', review_id=review.id) }}" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    {% else %}
                        <!-- Favorite button for other users -->
                        <form action="{{ url_for('app.add_to_favorites', review_id=review.id) }}" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-warning favorite-btn">❤</button>
                        </form>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}